@import "variables";

@mixin ring($size, $color) {
  display: block;
  border: 5px solid $color;
  border-radius: 50%;
  box-shadow: 3px 2px 3px black;
}

.orange {
  @include ring(1.5, $orange);
  width: 100px;
  height: 100px;
  margin: 15px;
}

.gold {
  @include ring(5, $gold);
  width: 200px;
  height: 200px;
  margin: 15px;
}

@for $i from 1 through 6 {
  .grey:nth-child(n+#{$i}) {
    @include ring(1, $grey);
    width: 30px*$i;
    height: 30px*$i;
    margin: -6px;

  }
}


